{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Ajouter une machine {% endblock %}
{% block contenu %}

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ajouter une machine</h1>
                </div>
            </div>
            <div class="row">
                {% if info.message is not empty %}<span class="alert alert-success">{{info.message}}</span>{%endif%}
                <form class="form-signin" method="POST" action="index.php?page=ajouter">
                    <input class="form-control" name="adresse"  placeholder="Adresse"/><br />
                    <select class="form-control" name="line">
                        {% for name, c in cat%}
                        <option value="{{ c+1 }}">{{ name }}</option>
                        {% endfor %}
                    </select><br />
                    <button class="btn btn-lg btn-primary btn-block" name="btAjouter" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">{% endblock %}