<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>
        <script src="js/jquery.js"></script>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/metisMenu/metisMenu.min.css" rel="stylesheet">
        <link href="css/sb-admin-2.css" rel="stylesheet">
        <link href="css/morrisjs/morris.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% block style %}{% endblock %}
    </head>
    <body onload="script();" class="bg-light">
    {% block body %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">SI7 - Ansible</a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.php"><i class="fa fa-dashboard fa-fw"></i> Accueil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Ansible<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="index.php?page=configurer">Configurer les machines</a>
                                </li>
                                <li>
                                    <a href="index.php?page=ajouterCat">Ajouter une catégorie</a>
                                </li>
                                <li>
                                    <a href="index.php?page=ajouter">Ajouter une machine</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index.php#liste"><i class="fa fa-table fa-fw"></i> Liste des machines</a>
                        </li>
                        <li>
                            <a href="glpi/"><i class="fa fa-question fa-fw"></i> GLPI</a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/benspit/si7---ansible"><i class="fa fa-gitlab fa-fw"></i> GitLab</a>
                        </li>
                        <li>
                            <a href="https://trello.com/b/MWNLuBGM/si7"><i class="fa fa-trello fa-fw"></i> Trello</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block contenu %}
        {% endblock %}
    {% endblock %}
    <script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="css/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/raphael/raphael.min.js"></script>
    <script src="js/morris.min.js"></script>
    <script src="js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>
    </body>
</html>