{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Configurer les machines {% endblock %}
{% block contenu %}
    <div id="wrapper">
        <div id="page-wrapper">
            <br />
            <div class="row">
                {% if out is not empty %}
                    <div id="response">
                        <h2>Réponse</h2>
                        {% for line in out %}
                            {{ line }}<br />
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg ">
                        <div class="table-responsive">
                            <table id="list_machines" class="table table-bordered table-hover table-striped ">
                                <thead>
                                    <tr>
                                        <th>Catégorie <i style="cursor: pointer;" id="machine" class="fa fa-angle-up"  onclick="sortTable('list_machines', 0, this)"></i></th>
                                        <th>Taches</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in categorie %}
                                        {% if c|trim %}
                                            <tr id="{{ h.name|trim }}">
                                                <td>{{ c|trim }}</td>
                                                <td>
                                                    <a href="index.php?page=configurer&type=git&hosts={{ c|trim }}">Installer GIT</a><br />
                                                    <a href="index.php?page=configurer&type=web&hosts={{ c|trim }}">Serveur Web</a><br />
                                                    <a href="index.php?page=configurer&type=bdd&hosts={{ c|trim }}">Serveur BDD</a><br />
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">{% endblock %}