{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %}

    <div id="wrapper">
        <div id="page-wrapper">
            <br />
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-desktop fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ info.nb_host }}</div>
                                    <div>Machines</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Voir les machines en détails</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ info.nb_actions }}</div>
                                    <div>Actions effectuées</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Voir les actions en détails</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-star fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ info.nb_cat }}</div>
                                    <div>Catégories</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Voir les détails</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-arrow-circle-right fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Voir les détails</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Liste des machines
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="index.php?page=ajouter">Ajouter une machine</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <script>
                            var list = [];
                            {% for h in hosts  %}
                                {% if h.name|trim %}
                                    list.push('{{h.name|trim}}');
                                {% endif %}
                            {% endfor %}
                        </script>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg ">
                                    <div class="table-responsive">
                                        <table id="list_machines" class="table table-bordered table-hover table-striped ">
                                            <thead>
                                                <tr>
                                                    <th>Machine <i style="cursor: pointer;" id="machine" class="fa fa-angle-up"  onclick="sortTable('list_machines', 0, this)"></i></th>
                                                    <th>Catégorie <i style="cursor: pointer;" id="cat" class="fa fa-angle-up"  onclick="sortTable('list_machines', 1, this)"></i></th>
                                                    <th>Statut <i style="cursor: pointer;" id="statut" class="fa fa-angle-up"  onclick="sortTable('list_machines', 2, this)"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set index = 1 %}
                                                {% for i,h in hosts %}
                                                    {% if h.name|trim %}
                                                        <tr id="{{ h.name|trim }}">
                                                            <td><a href="http://{{ h.name|trim }}" target="_blank">{{ h.name|trim }}</a> <i style="cursor: pointer;" id="machine" class="fa fa-remove" onClick="if (confirm('Voulez-vous vraiment supprimer cette machine ?')) {
                                                                        removeMachine('{{ h.name|trim }}',{{index}} );
                                                                    }"></i></td>
                                                            <td>{{ h.cat|trim }} </td>
                                                            <td id="host_{{ h.name|trim }}">Chargement...</td>
                                                        </tr>
                                                        {% set index = index+1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Dernières actions effectuées
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for a in listeActions %}
                                    <span class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i> {{ a.name | raw }}
                                        <span class="pull-right text-muted small">
                                            <em>{{ a.time }}</em>
                                        </span>
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block style %} {% endblock %}